<a href="https://colab.research.google.com/github/NachoSabritas/HolaMundo/blob/main/2_Valore_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos las librerias pandas, numpy y matplotlip respectivamente 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar aechivos csv desde equipo 
from google.colab import files 
files.upload()

In [ ]:
#Cargar desde un archivo .csv sin indice
data=pd.read_csv("inmuebles2.csv")
data.head(5)

In [ ]:
#Eliminar primera fila o filas innecesarias 
data1= pd.read_csv("inmuebles2.csv", skiprows=1, low_memory=False)
data1

In [ ]:
#Eliminar columnas innecesarias 
data2= data1.drop(['0','Referencia'], axis=1)
data2

In [ ]:
#Identificar valores nulos por columna
Valore_nulos=data2.isnull().sum()
Valore_nulos

In [18]:
#Realizamos una copia del dataframe
data3=data2.copy()

In [19]:
#Primer metodo de sustitucion de valores nulos
#Sustituir valores nulos con promedio o media
data3["Superficie" ]=data3["Superficie" ].fillna(round(data2["Superficie"].mean(),1))

In [ ]:
#Corroboramos valores nulos
Valore_nulos=data3.isnull().sum()
Valore_nulos

In [ ]:
#Segundo metodode sustitucion de valores nulos
#Sustituir valores nulos con mediana
data3["Superficie" ]=data3["Superficie" ].fillna(round(data2["Superficie"].median(),1))
data3

In [ ]:
#Corroboramos valores nulos
Valore_nulos=data3.isnull().sum()
Valore_nulos

In [ ]:
#Tercer metodo sustitucion de valores nulos
#Sustituir valores nulos por valores numericos concretos
data3["Fecha Alta"]=data3["Fecha Alta"].fillna(10)
data3

In [ ]:
#Corroboramos valores nulos
Valore_nulos=data3.isnull().sum()
Valore_nulos

In [ ]:
#Cuarto metodo
#Sustituir valores nulos por string en concreto
data3["Fecha Venta"] =data3["Fecha Venta"].fillna("2030-06-19 00:00:00")
data3

In [ ]:
#Corroboramos valores nulos
Valore_nulos=data3.isnull().sum()
Valore_nulos

In [ ]:
#Quinto metodo
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill"("ffill")
#Filtro por columnas
data3["Tipo"] =data3["Tipo"].fillna(method="ffill")
data3

In [ ]:
#Corroboramos valores nulos
Valore_nulos=data3.isnull().sum()
Valore_nulos

In [ ]:
#Sexto metodo
#Sustituir valores nulos por valores no nulos hacia atras "backward fill"("bfill")
#Filtro por columnas
data3["Operación"] =data3["Operación"].fillna(method="bfill")
data3

In [ ]:
#Corroboramos valores nulos
Valore_nulos=data3.isnull().sum()
Valore_nulos

In [ ]:
#Septimo metodo
#Sustituir valores nulos por valores no nulos hacia atras "backward fill"("bfill")
#Filtro por columnas
data3["Provincia"] =data3["Provincia"].fillna(method="bfill")
data3

In [ ]:
#Corroboramos valores nulos
Valore_nulos=data3.isnull().sum()
Valore_nulos

In [ ]:
#Septimo metodo
#Sustituir valores nulos por valores no nulos hacia atras "backward fill"("bfill")
#Filtro por columnas
data3["Precio Venta"] =data3["Precio Venta"].fillna(method="bfill")
data3

In [ ]:
#Corroboramos valores nulos
Valore_nulos=data3.isnull().sum()
Valore_nulos

In [ ]:
#Septimo metodo
#Sustituir valores nulos por valores no nulos hacia atras "backward fill"("bfill")
#Filtro por columnas
data3["Vendedor"] =data3["Vendedor"].fillna(method="ffill")
data3

In [ ]:
#Corroboramos valores nulos
Valore_nulos=data3.isnull().sum()
Valore_nulos

In [73]:
#Corroboramos valores nulos
Valore_nulos=data3.isnull().sum().sum()
Valore_nulos

0

In [ ]:
#Eliminacion de valores nulos

In [ ]:
#Identificar valores nulos por columna
Valore_nulos=data2.isnull().sum()
Valore_nulos

In [76]:
#Realizamos una copia del dataframe
data4=data2.copy()

In [ ]:
#Eliminamos filas con nulos
data4=data2.dropna(0)
data4

In [ ]:
#Corroboramos valores nulos
Valore_nulos=data4.isnull().sum()
Valore_nulos

In [ ]:
#Comparamos dataframe3(Sustitucion) y dataframe4(Eliminacion)

In [ ]:
data3.info()

In [ ]:
data4.info()

In [ ]:
#Convertimos DataSet sin valores nulos a csv

In [ ]:
data3.to.csv("inmuebles_sin_nulos.csv")

In [ ]:
#Descargamos archivo en csv
from google.colab import files
files.download("inmuebles_sin_nulos.csv")